input[type="text"]{
    height: 25px;
}
.motd {
    font-weight: bold;
    padding: 10px 0 15px 15px;
}
.messsage-header {
    color: gray;
}

.tt-dropdown-menu {
    background-color: hotpink;
}


body {
    background-image: url("../img/mug_of_tea.jpg");
    background-color: #cccccc;
    color:white;
}
